.DS_Store

DialFact/raw

miniforge3/

jsonl_files/

AQA/preprocess/

CoQA/preprocess/

CoQA_data.csv

CoQA_data_cnn.csv

CoQAR_data.csv

tokens.txt

AQA_data.csv

input_processed/

input_raw/

output_raw/

tokens/

output_processed/

val_v0.2.json

QUAC_data.csv

.ipynb_checkpoints

CODAH.pkl

CoQA_withResponse.csv

CoQA.pkl

DialFact.pkl

FaVIQ.pkl

original_df.pkl

BERT_similarity/sematic-similarity.h5

BERT_similarity/SNLI_Corpus/

BERT_similarity/CoQA_with_GR.csv

BERT_similarity/__pycache__/

DialFact_original.csv

DialFact_result.csv

DialFact_withResponse.csv

AQA_v1.csv

CoQA_with_GR.csv

ChatGPT-crawler.zip